
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
    int j = 0;
}

<h1 style="color: white; margin-left: 20px; font-size: 18px">Current Projects</h1>
<table class="table table-adminpro table-bordered table-hover " style="margin-left: 20px; width:97%;">
    <tr>
        <td style="text-align: center">Post ID</td>
        <th style="text-align: center">Post Description</th>
        <th style="text-align: center">Project Manager Name</th>
        <th style="text-align: center">Team Leader Name</th>
        <th style="text-align: center">Start Date</th>
        <th style="text-align: center">Dead Line</th>
    </tr>
    @foreach (var item in ViewBag.currentproj)
    {
        <tr>
            <td style="text-align: center">@item.Post_ID</td>
            <td style="text-align: center">@item.Post_Description</td>
            @for (int x = i; x <=j; x++)
            {
                <td style="text-align: center">@ViewBag.pmnames[x].PM_FirstName  @ViewBag.pmnames[x].PM_LastName</td>
            }
            @for (int x = i; x <=j; x++)
            {
                <td style="text-align: center">@ViewBag.tlnames[x].TL_FirstName  @ViewBag.tlnames[x].TL_LastName</td>
            }
            <td style="text-align: center">@item.Start_Date</td>
            <td style="text-align: center">@item.DeadLine</td>
        </tr>
        @:{ 
            i++;
            j++;
        }
    }
</table>
<br />
<br />
@{ 
    i = 0;
    j = 0;
}
<h1 style="color: white; font-size: 18px; margin-left: 20px;">Previous Projects</h1>
<table class="table table-adminpro table-bordered table-hover " style="margin-left: 20px; width:97%;">
    <tr>
        <td style="text-align: center">Post ID</td>
        <th style="text-align: center">Post Description</th>
        <th style="text-align: center">Project Manager Name</th>
        <th style="text-align: center">Team Leader Name</th>
        <th style="text-align: center">Start Date</th>
        <th style="text-align: center">Dead Line</th>
    </tr>
    @foreach (var item in ViewBag.previousprojects)
    {
        <tr>
            <td style="text-align: center">@item.Post_ID</td>
            <td style="text-align: center">@item.Post_Description</td>
            @for (int x = i; x < j; x++)
            {
                <td style="text-align: center">@ViewBag.pmnames1[x]</td>
            }
            @for (int x = i; x < j; x++)
            {
                <td style="text-align: center">@ViewBag.tlnames1[x]</td>
            }
            <td style="text-align: center">@item.evaluation</td>
            <td style="text-align: center">@item.EndDate</td>
        </tr>
        i++;
        j++;
    }
</table>
<br />
<br />